[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "groupsubsetselection"]
	path = groupsubsetselection
	url = https://github.com/cran/groupsubsetselection
	shallow = true
	registered = true
